<html>
    <head>
        <title>Temperature and humidity</title>
    </head>
    <body>
        <h1>Temperature and humidity</h1>
        <h3>Latest measurements from {{ lastTime }}</h3>
        <h4>Temperature {{ lastT }} &#176;C, humidity {{ lastH }} %</h4>
        <br>
        <h3>Average temperature and average humidity</h3>
        <h4>Temperature {{ averageT }} &#176;C, humidity {{ averageH }} %</h4>
        <br>
        <h3>Maximum and minimum temperature</h3>
        <h4>Max {{ maxT }} &#176;C, min {{ minT }} &#176;C</h4>
        <br>
        <h3>Maximum and minimum humidity</h3>
        <h4>Max {{ maxH }} %, min {{ minH }} %</h4>         
    </body>
</html>